<launch>

  <node pkg="hawa_pathplan" type="path_plan_node" name="path_plan_node" output="screen" respawn="false"/>

  <node pkg="hawa_pathplan" name="gridmap_publisher" type="gridmap_publish.py" output="screen" respawn="false"/>

  <node pkg="hawa_pathplan" name="gridmap_fusion_puber" type="map_fusion_node" output="screen" respawn="false"/>

  <node pkg="hawa_control" name="purepursuit_node" type="purepursuit_node" output="screen" respawn="false"/>
  
  <node pkg="hawa_ackermann_sim" type="akm_sim_node" name="akm_simulation_node" output="screen" respawn="false"/>

  <node pkg="rviz" type="rviz" name="rviz" 
        args="-d $(find hawa_pathplan)/launch/rviz_config_for_demo.rviz" required="true" />

</launch>

