<launch>

  <node pkg="hawa_ackermann_sim" type="akm_sim_node" name="akm_simulation_node" output="screen" respawn="false"/>
  
  <!-- <node pkg="hawa_ackermann_sim" type="joystick_to_ackermannDriveStamped.py" name="joystick_to_ackermannDriveStamped" output="screen" respawn="false"/> -->

  <node pkg="hawa_ackermann_sim" type="keyboard_to_ackermannDriveStamped.py" name="keyboard_to_ackermannDriveStamped" output="screen" respawn="false"/>
  
</launch>